description = "Ubuntu 24.04 Noble Numbat tiny image with only Java buildpacks included. To use, specify buildpacks at build time."

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java-native-image:13.2.0"
  version = "13.2.0"

[[buildpacks]]
  uri = "docker://docker.io/paketobuildpacks/java:20.2.1"
  version = "20.2.1"

[lifecycle]
  version = "0.20.19"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java-native-image"
    version = "13.2.0"

[[order]]

  [[order.group]]
    id = "paketo-buildpacks/java"
    version = "20.2.1"

[stack]
  build-image = "docker.io/paketobuildpacks/ubuntu-noble-build:0.0.43"
  id = "io.buildpacks.stacks.noble"
  run-image = "docker.io/paketobuildpacks/ubuntu-noble-run-tiny:0.0.43"

[[targets]]
  arch = "amd64"
  os = "linux"

[[targets]]
  arch = "arm64"
  os = "linux"
